@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rotate-135 {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
  }
}
